[run]
omit=
 */tests/*
 datafold/_version.py
 datafold/_decorators.py
 datafold/__init__.py
 datafold/*/__init__.py
 datafold/utils/_systems.py
 datafold/utils/plot.py

[report]
exclude_lines =
 pragma: no cover
 if __name__ == .__main__.:
