# IDE 
.idea/

# Install files (package and documentation with Sphinx)
dist/
build/
datafold.egg-info/

# files and dirs related to documentation
*.nblink
doc/source/tutorial_index.rst
doc/source/_apidoc/
doc/source/api/
doc/build/
public/

# Python files
*.p
*.pyc
__pycache__/
.mypy_cache/
.ipynb_checkpoints/
.coverage
cover/
venv/

# General files and folders
*.mat
*.zip
*.csv
*.pdf
*.jar
tutorials/untracked/

# Local scripts
sync_minimuc.sh
login_sync_minimuc.sh
